#h_lichsu {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

#h_lichsu .content-header {
    background: unset;
    display: none;
}

.h-title-mb {
    display: none;
}

#h_lichsu .content-body {
    position: relative;
}

.h-header-filter {
    width: 50%;
}

.h-header-filter ul li {
    display: inline-block;
    background: #f1f1f1;
    padding: 10px;
    width: 35%;
    border-radius: 0.5rem;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}

.h-header-filter ul {
    padding-left: 0;
    margin-bottom: 0;
}

.h-header-filter ul li a {
    display: inline-block;
}

.h-header-filter ul li img {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
}

.h-bubble-time {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 60px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.15);
    display: none;
}

.h-bubble-time .h-box-filter,
.h-bubble-name .h-box-filter {
    position: relative;
}

.h-bubble-name {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 60px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.15);
    display: none;
}

.h-bubble-time .h-box-filter::before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 15px solid #00000000;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    top: -35px;
    left: 25px;
    position: absolute;
}

.h-bubble-name .h-box-filter::before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 15px solid #00000000;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    top: -35px;
    left: 300px;
    position: absolute;
}

.h-item-filter {
    padding: 10px 0px;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.h-select-day .selectpicker {
    padding: 8px;
    margin-right: 25px;
    margin-left: 10px;
    border-radius: 0.5rem;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../icon/arrown.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center right 15px;
    width: 130px;
}

.h-item-filter.active::before {
    content: "";
    position: absolute;
    background-image: url(../icon/check_black.png);
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.h-item-filter span {
    margin-left: 20px;
}

.h-select-day {
    display: none;
    padding: 10px 0px;
    cursor: pointer;
    margin-left: 20px;
}

.h-btn-filter {
    background-color: #03a9f4;
    color: #fff;
    padding: 8px;
    width: 130px;
}

.h-btn-filter:hover {
    color: #fff;
}

.h-item-filter img {
    display: none;
    width: 10px;
    margin-right: 10px;
}

.h-item-filter.active img {
    display: block;
}

.h-button {
    display: inline-block;
}

.h-box-history {
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.15);
    margin-top: 40px;
    margin-bottom: 40px;
}

.h-header-history {
    padding: 15px;
    border-bottom: 1px solid #c4c4c4;
    color: #0072bb;
}

.h-content-history table {
    width: 100%;
}

.h-content-history thead tr td {
    color: #939393;
    padding: 15px;
}

.h-content-history tbody tr td {
    padding: 15px;
}

@media screen and (max-width: 1400px) {

    .h-btn-filter,
    .h-select-day .selectpicker {
        width: 100px;
        padding: 5px;
    }

    .h-bubble-name .h-box-filter::before {
        left: 230px;
    }
}

@media screen and (max-width: 768px) {
    .h-title-mb {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    #h_lichsu .page-content {
        width: 100%;
        padding: 15px;
    }

    #h_lichsu .content-wrapper {
        padding: 0;
    }

    .h-header-filter {
        width: 100%;
    }

    .h-header-filter ul li {
        width: 45%;
        margin-right: 15px;
    }

    .h-header-filter ul li:last-child {
        margin-right: 0px;
    }

    .h-btn-filter,
    .h-select-day .selectpicker {
        width: 100px;
        padding: 5px;
        margin: 5px;
    }

    .h-button {
        display: block;
        text-align: center;
    }
    .h-bubble-time, .h-bubble-name{
        top: 90px;
    }
}