#h_hocba {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.h-title-mb {
    display: none;
}
#h_hocba_content .content-header {
    border-radius: unset;
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
}

#h_hocba_content .content-header-left ul {
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
}

#h_hocba_content .content-header-left ul li {
    display: inline-block;

}

#h_hocba_content .content-header-left ul li a {
    padding: 15px 30px;
    color: #333;
}

#h_hocba_content .content-header-left ul li a.active {
    border-bottom: 2px solid #0072bc;
    color: #0072bc;
}

.h-class-name {
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
}

.h-content-kq table {
    width: 100%;
}

.h-content-kq td {
    text-align: center;
    padding: 15px;
}

.h-content-kq thead {
    background-color: #2196f3;
    color: #fff;
}

.h-content-kq td {
    border-right: 1px solid #fff;
}

.h-content-kq tbody tr {
    background-color: #f1f1f1;
}

.h-content-kq tbody tr:nth-child(even) {
    background-color: #e4e4e4;
}

.h-col-khoahoc {
    text-align: justify !important;
}

/* recommended-item */
.h-item-recommend {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 71, 146, 0.15);
    margin-bottom: 10px;
}

.h-box-recommend {
    margin-top: 40px;
}

.h-title-recommend {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.h-thumb {
    position: relative;
}

.h-thumb img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.h-sapo {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
    margin: 10px 0 5px 0;
    padding: 0px 15px;
}

.h-ic-play {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 30px !important;
    height: 30px !important;
}

.h-teacher {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
    padding: 15px;
}

.h-teacher a {
    color: #333;
    font-size: 12px;
}

.h-teacher .h-star {
    font-size: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
}

.h-sapo span {
    font-size: 12px;
    color: #8d8d8d;
}

.h-star span {
    display: inline-block;
}

.h-title {
    font-weight: 600;
    height: 50px;
    padding: 0px 15px;
}

.h-title a {
    color: #333;
}

.h-star .checked {
    color: #ff9800;
}

.owl-dots {
    display: none;
}

.owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 40px;
    background-color: #fff !important;
    height: 40px;
    border-radius: 50%;
    right: ;: 100%;
}

.owl-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 40px;
    background-color: #fff !important;
    height: 40px;
    border-radius: 50%;
    left: 100%;
}
.owl-next {
    background-image: url(../images/ic_next.png)  !important;
    background-size: 100% 100% !important;
}
.owl-prev {
    background-image: url(../images/ic_prev.png) !important;
    background-size: 100% 100% !important;
}
.owl-next span , .owl-prev span{
    display: none;
    /* color: var(--primary-color); */
    /* font-size: 20px; */
    /* text-indent: -999em; */
}

.owl-next:focus {
    outline: unset;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

@media screen and (max-width: 1400px) {
    .h-title {
        padding: 0 10px;
        height: 30px;
    }

    .h-title a {
        font-size: 13px;
    }

    .h-sapo {
        padding: 0 10px;

    }

    .h-teacher {
        padding: 15px 10px;
    }

    .h-teacher a {
        font-size: 10px;
    }

    .h-sapo span {
        font-size: 10px;
    }

    .h-teacher .h-star {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    .h-title-mb {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    #h_hocba_content {
        width: 100%;
        padding: 15px;
    }

    #h_hocba_content .content-wrapper {
        padding: 0;
    }

    #h_hocba_content .content-header {
        margin: 0px -15px;
    }

    #h_hocba_content .h-content-kq {
        width: 100%;
        overflow: scroll;
    }
}