.uk-grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.lib-grid-5 {margin-left: -5px} 
.lib-grid-5 > * {padding-left: 5px}
.lib-grid-15 {margin-left: -15px} 
.lib-grid-15 > * {padding-left: 15px}
.lib-grid-20 {margin-left: -20px} 
.lib-grid-20 > * {padding-left: 20px}
.lib-grid-30 {margin-left: -30px} 
.lib-grid-30 > * {padding-left: 30px}
.lib-grid-35 {margin-left: -35px} 
.lib-grid-35 > * {padding-left: 35px}
.lib-grid-40 {margin-left: -40px} 
.lib-grid-40 > * {padding-left: 40px}
.lib-grid-45 {margin-left: -45px} 
.lib-grid-45 > * {padding-left: 45px}
.lib-grid-50 {margin-left: -50px} 
.lib-grid-50 > * {padding-left: 50px}

.m0 { margin: 0!important; } .ml0 { margin-left: 0 !important; } .mr0 { margin-right: 0!important; } .mt0 { margin-top: 0!important; } .mb0 { margin-bottom: 0!important; } .mlr0 { margin-left: 0!important; margin-right: 0!important; } .mtb0 { margin-top: 0!important; margin-bottom: 0!important; }
.m5 { margin: 5px!important; } .ml5 { margin-left: 5px!important; } .mr5 { margin-right: 5px!important; } .mt5 { margin-top: 5px!important; } .mb5 { margin-bottom: 5px!important; } .mlr5 { margin-left: 5px!important; margin-right: 5px!important; } .mtb5 { margin-top: 5px!important; margin-bottom: 5px!important; }
.m10 { margin: 10px!important; } .ml10 { margin-left: 10px!important; } .mr10 { margin-right: 10px!important; } .mt10 { margin-top: 10px!important; } .mb10 { margin-bottom: 10px!important; } .mlr10 { margin-left: 10px!important; margin-right: 10px!important; } .mtb10 { margin-top: 10px!important; margin-bottom: 10px!important; }
.m15 { margin: 15px!important; } .ml15 { margin-left: 15px!important; } .mr15 { margin-right: 15px!important; } .mt15 { margin-top: 15px!important; } .mb15 { margin-bottom: 15px!important; } .mlr15 { margin-left: 15px!important; margin-right: 15px!important; } .mtb15 { margin-top: 15px!important; margin-bottom: 15px!important; }
.m20 { margin: 20px!important; } .ml20 { margin-left: 20px!important; } .mr20 { margin-right: 20px!important; } .mt20 { margin-top: 20px!important; } .mb20 { margin-bottom: 20px!important; } .mlr20 { margin-left: 20px!important; margin-right: 20px!important; } .mtb20 { margin-top: 20px!important; margin-bottom: 20px!important; }
.m25 { margin: 25px!important; } .ml25 { margin-left: 25px!important; } .mr25 { margin-right: 25px!important; } .mt25 { margin-top: 25px!important; } .mb25 { margin-bottom: 25px!important; } .mlr25 { margin-left: 25px!important; margin-right: 25px!important; } .mtb25 { margin-top: 25px!important; margin-bottom: 25px!important; }
.m30 { margin: 30px!important; } .ml30 { margin-left: 30px!important; } .mr30 { margin-right: 30px!important; } .mt30 { margin-top: 30px!important; } .mb30 { margin-bottom: 30px!important; } .mlr30 { margin-left: 30px!important; margin-right: 30px!important; } .mtb30 { margin-top: 30px!important; margin-bottom: 30px!important; }
.m35 { margin: 35px!important; } .ml35 { margin-left: 35px!important; } .mr35 { margin-right: 35px!important; } .mt35 { margin-top: 35px!important; } .mb35 { margin-bottom: 35px!important; } .mlr35 { margin-left: 35px!important; margin-right: 35px!important; } .mtb35 { margin-top: 35px!important; margin-bottom: 35px!important; }
.m40 { margin: 40px!important; } .ml40 { margin-left: 40px!important; } .mr40 { margin-right: 40px!important; } .mt40 { margin-top: 40px!important; } .mb40 { margin-bottom: 40px!important; } .mlr40 { margin-left: 40px!important; margin-right: 40px!important; } .mtb40 { margin-top: 40px!important; margin-bottom: 40px!important; }
.m45 { margin: 45px!important; } .ml45 { margin-left: 45px!important; } .mr45 { margin-right: 45px!important; } .mt45 { margin-top: 45px!important; } .mb45 { margin-bottom: 45px!important; } .mlr45 { margin-left: 45px!important; margin-right: 45px!important; } .mtb45 { margin-top: 45px!important; margin-bottom: 45px!important; }
.m50 { margin: 50px!important; } .ml50 { margin-left: 50px!important; } .mr50 { margin-right: 50px!important; } .mt50 { margin-top: 50px!important; } .mb50 { margin-bottom: 50px!important; } .mlr50 { margin-left: 50px!important; margin-right: 50px!important; } .mtb50 { margin-top: 50px!important; margin-bottom: 50; }

.p0 { padding: 0!important; } .pl0 { padding-left: 0!important; } .pr0 { padding-right: 0!important; } .pt0 { padding-top: 0!important; } .pb0 { padding-bottom: 0!important; } .plr0 { padding-left: 0!important; padding-right: 0!important; } .ptb0 { padding-top: 0!important; padding-bottom: 0!important; }
.p5 { padding: 5px!important; } .pl5 { padding-left: 5px!important; } .pr5 { padding-right: 5px!important; } .pt5 { padding-top: 5px!important; } .pb5 { padding-bottom: 5px!important; } .plr5 { padding-left: 5px!important; padding-right: 5px!important; } .ptb5 { padding-top: 5px!important; padding-bottom: 5px!important; }
.p10 { padding: 10px!important; } .pl10 { padding-left: 10px!important; } .pr10 { padding-right: 10px!important; } .pt10 { padding-top: 10px!important; } .pb10 { padding-bottom: 10px!important; } .plr10 { padding-left: 10px!important; padding-right: 10px!important; } .ptb10 { padding-top: 10px!important; padding-bottom: 10px!important; }
.p15 { padding: 15px!important; } .pl15 { padding-left: 15px!important; } .pr15 { padding-right: 15px!important; } .pt15 { padding-top: 15px!important; } .pb15 { padding-bottom: 15px!important; } .plr15 { padding-left: 15px!important; padding-right: 15px!important; } .ptb15 { padding-top: 15px!important; padding-bottom: 15px!important; }
.p20 { padding: 20px!important; } .pl20 { padding-left: 20px!important; } .pr20 { padding-right: 20px!important; } .pt20 { padding-top: 20px!important; } .pb20 { padding-bottom: 20px!important; } .plr20 { padding-left: 20px!important; padding-right: 20px!important; } .ptb20 { padding-top: 20px!important; padding-bottom: 20px!important; }
.p25 { padding: 25px!important; } .pl25 { padding-left: 25px!important; } .pr25 { padding-right: 25px!important; } .pt25 { padding-top: 25px!important; } .pb25 { padding-bottom: 25px!important; } .plr25 { padding-left: 25px!important; padding-right: 25px!important; } .ptb25 { padding-top: 25px!important; padding-bottom: 25px!important; }
.p30 { padding: 30px!important; } .pl30 { padding-left: 30px!important; } .pr30 { padding-right: 30px!important; } .pt30 { padding-top: 30px!important; } .pb30 { padding-bottom: 30px!important; } .plr30 { padding-left: 30px!important; padding-right: 30px!important; } .ptb30 { padding-top: 30px!important; padding-bottom: 30px!important; }
.p35 { padding: 35px!important; } .pl35 { padding-left: 35px!important; } .pr35 { padding-right: 35px!important; } .pt35 { padding-top: 35px!important; } .pb35 { padding-bottom: 35px!important; } .plr35 { padding-left: 35px!important; padding-right: 35px!important; } .ptb35 { padding-top: 35px!important; padding-bottom: 35px!important; }
.p40 { padding: 40px!important; } .pl40 { padding-left: 40px!important; } .pr40 { padding-right: 40px!important; } .pt40 { padding-top: 40px!important; } .pb40 { padding-bottom: 40px!important; } .plr40 { padding-left: 40px!important; padding-right: 40px!important; } .ptb40 { padding-top: 40px!important; padding-bottom: 40px!important; }
.p45 { padding: 45px!important; } .pl45 { padding-left: 45px!important; } .pr45 { padding-right: 45px!important; } .pt45 { padding-top: 45px!important; } .pb45 { padding-bottom: 45px!important; } .plr45 { padding-left: 45px!important; padding-right: 45px!important; } .ptb45 { padding-top: 45px!important; padding-bottom: 45px!important; }
.p50 { padding: 50px!important; } .pl50 { padding-left: 50px!important; } .pr50 { padding-right: 50px!important; } .pt50 { padding-top: 50px!important; } .pb50 { padding-bottom: 50px!important; } .plr50 { padding-left: 50px!important; margin-right: 50px!important; } .ptb50 { margin-top: 50px!important; margin-bottom: 50; }

.uk-flex{display:-ms-flexbox;display:-webkit-flex;display:flex}
.uk-flex-inline{display:-ms-inline-flexbox;display:-webkit-inline-flex;display:inline-flex}
.uk-flex-inline>*,
.uk-flex>*{-ms-flex-negative:1}
.uk-flex-top{-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.uk-flex-middle{-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.uk-flex-bottom{-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.uk-flex-center{-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.uk-flex-right{-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end}
.uk-flex-space-between{-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}
.uk-flex-space-around{-ms-flex-pack:distribute;-webkit-justify-content:space-around;justify-content:space-around}
.uk-flex-row-reverse{-ms-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;flex-direction:row-reverse}
.uk-flex-column{-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.uk-flex-column-reverse{-ms-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;flex-direction:column-reverse}
.uk-flex-nowrap{-ms-flex-wrap:nowrap;-webkit-flex-wrap:nowrap;flex-wrap:nowrap}
.uk-flex-wrap{-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}
.uk-flex-wrap-reverse{-ms-flex-wrap:wrap-reverse;-webkit-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse}
.uk-flex-wrap-top{-ms-flex-line-pack:start;-webkit-align-content:flex-start;align-content:flex-start}
.uk-flex-wrap-middle{-ms-flex-line-pack:center;-webkit-align-content:center;align-content:center}
.uk-flex-wrap-bottom{-ms-flex-line-pack:end;-webkit-align-content:flex-end;align-content:flex-end}
.uk-flex-wrap-space-between{-ms-flex-line-pack:justify;-webkit-align-content:space-between;align-content:space-between}
.uk-flex-wrap-space-around{-ms-flex-line-pack:distribute;-webkit-align-content:space-around;align-content:space-around}
.uk-text-bold{font-weight: bold}
.uk-relative{position: relative}
.uk-list{list-style: none; margin: 0; padding: 0;}
.img-cover, .img-cover > img{width: 100%; height: 100%; display: block}
.img-cover > img {object-fit: cover}

/* ===============================================  Header Video  =============================================== */
.mt-video-page .mt-content-header {
    background-color: #fff;
    padding: 0 0 0 15px;
    border-radius: 5px;
}
.mt-video-page .mt-title-header {
	position: relative;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    color: #343434;
}
.mt-video-page .mt-title-header > a {
	width: 11px;
	height: 19px;
	background-image: url('../images/icon/video/ic_back.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px
}
.mt-header-top .mt-avatar {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    top: 0;
    right: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.mt-video-page .mt-title-header > i {
    margin-right: 5px;
    font-size: 20px;
}
.mt-video-page .mt-process-video > * + * {
    margin-left: 20px;
}
.mt-video-page .mt-process-cricle {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../images/icon/video/ic_cup.png');
    background-repeat: no-repeat;
    background-position: left 6px center;
    border-radius: 100%;
    border: 2px solid #dedede;
}
.mt-process-video {
    padding: 10px 15px 10px 0;
    cursor: pointer;
}
.mt-process-detail {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    max-width: 300px;
    border: 1px solid #dedede;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    margin-left: 0 !important;
    text-align: center;
    line-height: 20px;
    display: none;
    z-index: 99;
}
.mt-process-detail:after,
.mt-process-detail:before{
	content: '';
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	   -moz-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	     -o-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}
.mt-process-detail:after{
	border-bottom: 15px solid #dedede;
	top: -16px;
}
.mt-process-detail:before{
	border-bottom: 15px solid #fff;
	top: -15px;
	z-index: 9;
}
.mt-process-video:hover > .mt-process-detail,
.mt-process-video.active .mt-process-detail {
    display: block;
}
/* ===============================================  Sidebar Video  =============================================== */
.mt-sidebar-section {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.mt-sidebar-section + .mt-sidebar-section {
	margin-top: 30px
}
.mt-sidebar-section .mt-panel-head {
	margin: 0;
    padding: 13px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #dedede;
}
.mt-subtitle-video {
    padding: 15px;
    line-height: 22px;
    font-weight: 500;
    font-size: 16px;
}
.mt-list-video > li {
    padding: 5px 15px;
}
.mt-list-video > li > a {
    display: block;
    position: relative;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    color: #343434;
}
.mt-list-video > li > a:hover,
.mt-list-video > li > a:focus{
	text-decoration: none;
	outline: 0
}
.mt-list-video > li > a:before{
	content: '';
	width: 20px;
	height: 20px;
	border: 1px solid #343434;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	   -moz-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	     -o-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.mt-list-video > li > a > span {
    margin-right: 10px;
}
.mt-list-video > li.active,
.mt-list-video > li:hover {
    background-color: #e8f6ff;
    font-weight: 500;
}
.mt-list-video > li.active > a::after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(50% + -4px);
    left: -2px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-position: center center;
    background-image: url('../images/icon/video/ic_checked.png');
    background-repeat: no-repeat;
    z-index: 999;
}
.mt-accordion > .card {
    overflow: hidden;
}
.mt-accordion > .card + .card {
    border-top: 1px solid #fff;
}
.mt-accordion .card-header {
    background-color: #eee;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    position: relative
}
.mt-accordion .card-header:after{
	content: "\f107";
	font: normal normal normal 16px/1 FontAwesome;
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.mt-item-accordion > li {
    padding: 15px;
}
.mt-item-accordion > li > a {
    color: #343434;
    display: block;
    font-size: 16px;
    padding-left: 25px;
    line-height: 22px;
    background-position: center left;
    background-repeat: no-repeat;
}
.mt-item-accordion.mt-item-document > li > a{
	background-image: url('../images/icon/video/ic_document.png');
}
.mt-item-accordion.mt-item-download > li > a{
	background-image: url('../images/icon/video/ic_download.png');
}

/* ===============================================  Content Video  =============================================== */
.mt-info-video {
    padding: 20px 0;
    font-size: 16px;
    color: #343434;
}
.mt-item-info > a {
    display: block;
    padding-left: 30px;
    color: #343434;
    background-position: center left;
    background-repeat: no-repeat;
	line-height: 25px;
}
.mt-item-info > a:focus, .ic_dark_light:focus{
	outline: 0;
	text-decoration: none;
}
.mt-item-info.mt-note-play > a{
	background-image: url('../images/icon/video/ic_note.png');
}
.mt-item-info.mt-support-play > a{
	background-image: url('../images/icon/video/ic_support.png');
}
.mt-item-info.mt-light-play > a{
	background-image: url('../images/icon/video/ic_light.png');
}
.mt-info-video_mobile {
    padding: 5px 0;
    margin-bottom: 15px;
}
.mt-info-video_mobile .left-item .ic_clock {
	background-image: url('../images/icon/video/ic_clock.png');
	background-position: center left;
    background-repeat: no-repeat;
    display: block;
    padding-left: 20px;
	color: #343434;
	font-size: 13px;
	margin-right: 20px;
}
.mt-info-video_mobile .left-item .ic_user {
	background-image: url('../images/icon/video/ic_user.png');
	background-position: center left;
    background-repeat: no-repeat;
    display: block;
    padding-left: 25px;
    color: #343434;
    font-size: 13px;
}
.mt-info-video_mobile .ic_dark_light {
	background-image: url('../images/icon/video/ic_dark_click.png');
	background-position: center left;
    background-repeat: no-repeat;
    display: block;
    width: 58px;
    height: 15px;
}
.mt-content-tab .mt-nav-tabs, #mt-tab-content {
    background-color: #fff;
    border-radius: 5px;
}
.mt-nav-tabs > li {
    width: 100%;
    text-align: center;
}
.mt-nav-tabs > li > a {
    padding: 15px 0;
    display: inline-block;
    color: #343434;
    font-size: 16px;
    position: relative;
}
.mt-nav-tabs > li:hover > a, .mt-nav-tabs > li > a:focus{
	text-decoration: none;
	outline: 0
}
.mt-nav-tabs > li.active > a:before, .mt-nav-tabs > li:hover > a:before{
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #2a70b8
}
.content-tab {
    padding: 20px;
}
.mt-content-tabs {
    max-height: 220px;
    overflow: hidden;
}
.mt-click-more {
    background-color: transparent;
    border: 1px solid #2a70b8;
    color: #2a70b8;
    font-size: 20px;
    padding: 7px 50px 7px 20px;
    border-radius: 5px;
    position: relative;
}
.mt-click-more:before{
	content: "\f107";
	font: normal normal normal 26px/1 FontAwesome;
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.mt-click-more.active::before {
    content: "\f106";
}

.mt-content-accordion {
    background-color: #fff;
    border-radius: 5px;
}
#accordion-mobile .card-header {
    padding: 10px 35px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center, right 10px center;
    cursor: pointer;
}
#accordion-mobile .card-header.content-collapse{
	background-image: url('../images/icon/video/ic_doc.png'), url('../images/icon/video/ic_arrow.png');
}

#accordion-mobile .card-header.comment-collapse{
	background-image: url('../images/icon/video/ic_user.png'), url('../images/icon/video/ic_arrow.png');
}

#accordion-mobile .card-header.note-collapse{
	background-image: url('../images/icon/video/ic_note_.png'), url('../images/icon/video/ic_arrow.png');
}

#accordion-mobile .card-header.notify-collapse{
	background-image: url('../images/icon/video/ic_noti.png'), url('../images/icon/video/ic_arrow.png');
}

#accordion-mobile .card-header.support-collapse{
	background-image: url('../images/icon/video/ic_support_.png'), url('../images/icon/video/ic_arrow.png');
}
#accordion-mobile .content-tab {
    padding: 0 20px;
}
#accordion-mobile .mt-click-more,
#accordion-mobile .mt-click-more::before {
	font-size: 16px
}

.mt-video-other .mt-panel-head {
    margin: 0;
    font-size: 22px;
    color: #343434;
}
.mt-item-course {
    background-color: #fff;
    margin-bottom: 30px;
}
.mt-item-course .mt-thumb {
    height: 140px;
}
.mt_player_course {
    width: 36px;
    height: 36px;
    background: url('../images/icon/video/ic_player.png') no-repeat center center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.mt-item-course .mt-infor {
    padding: 10px;
}
.mt-item-course .mt-infor-des {
    font-size: 13px;
    color: #999;
}
.mt-item-course .mt-title-couser {
    margin: 10px 0;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
}
.mt-item-course .mt-title-couser a {
	color: #343434;
}
.mt-infor-course .mt-rating {
    width: 58px;
    margin-top: 4px;
}
.mt-infor-course > span {
	width: -webkit-calc(100% - 58px);
    width: -moz-calc(100% - 58px);
    width: -ms-calc(100% - 58px);
    width: -o-calc(100% - 58px);
    width: calc(100% - 58px);
    padding-right: 10px;
	font-size: 13px;
	color: #717171;
}
.mt-item-course .mt-ic-star {
    width: 10px;
    height: 10px;
    background-image: url('../images/icon/video/ic_star.png');
}
.mt-item-course .mt-ic-star + .mt-ic-star {margin-left: 2px}
.mt-item-course .mt-ic-star.active {
    background-image: url('../images/icon/video/ic_star_active.png');
}

/* ===============================================  Dark Body Video  =============================================== */

.menu-expanded.dark-page, 
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-logo,
.menu-expanded.dark-page .mt-item-course,
.menu-expanded.dark-page .mt-sidebar-section {
    background-color: #000;
    color: #fff;
}
.menu-expanded.dark-page .sidebar,
.menu-expanded.dark-page .mt-content-tab .mt-nav-tabs, 
.menu-expanded.dark-page #mt-tab-content,
.menu-expanded.dark-page .mt-sidebar-section .mt-panel-head,
.menu-expanded.dark-page .mt-video-page .mt-content-header,
.menu-expanded.dark-page .mt-process-detail,
.menu-expanded.dark-page .mt-accordion .card-header,
.menu-expanded.dark-page .mt-content-accordion,
.menu-expanded.dark-page .mt-list-video > li.active,
.menu-expanded.dark-page .mt-list-video > li:hover{
	background-color: #272727;
	color: #fff;
}
.menu-expanded.dark-page .mt-video-page .mt-title-header,
.menu-expanded.dark-page .mt-video-other .mt-panel-head,
.menu-expanded.dark-page .mt-item-accordion > li > a,
.menu-expanded.dark-page .mt-nav-tabs > li > a,
.menu-expanded.dark-page .mt-item-course .mt-title-couser a,
.menu-expanded.dark-page .mt-list-video > li > a{
	color: #fff
}
.menu-expanded.dark-page .mt-process-detail::before,
.menu-expanded.dark-page .mt-sidebar-section .mt-panel-head{
	border-bottom-color: #272727
}
.menu-expanded.dark-page .mt-sidebar-section {
    border-width: 1px;
    border-style: solid;
    border-color: #272727;
}
.menu-expanded.dark-page .mt-item-course .mt-infor {
    padding: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #272727;
    border-radius: 0 0 5px 5px;
}
.menu-expanded.dark-page .mt-list-video > li > a::before {
	border-color: #646464
}
.menu-expanded.dark-page .mt-count-view, 
.menu-expanded.dark-page .mt-item-info > a {
    color: #9c9c9c;
}
.menu-expanded.dark-page .mt-accordion > .card + .card{
	border-color: transparent;
}
.menu-expanded.dark-page .mt-item-info.mt-light-play > a {
	background-image: url('../images/icon/video/ic_lights.png');
}
.menu-expanded.dark-page .mt-item-info.mt-support-play > a {
    background-image: url('../images/icon/video/ic_supports.png');
}
.menu-expanded.dark-page .mt-item-info.mt-note-play > a {
    background-image: url('../images/icon/video/ic_notes.png');
}
.menu-expanded.dark-page .mt-item-accordion.mt-item-document > li > a {
    background-image: url('../images/icon/video/ic_documents.png');
}
.menu-expanded.dark-page .mt-item-accordion.mt-item-download > li > a {
    background-image: url('../images/icon/video/ic_download.png');
}
.menu-expanded.dark-page .mt-info-video_mobile .ic_dark_light {
    background-image: url('../images/icon/video/ic_dark_clicks.png');
}
.menu-expanded.dark-page .mt-info-video_mobile .left-item .ic_clock {
    background-image: url('../images/icon/video/ic_clocks.png');
    color: #9c9c9c
}
.menu-expanded.dark-page .mt-info-video_mobile .left-item .ic_user {
    background-image: url('../images/icon/video/ic_users.png');
    color: #9c9c9c
}
.menu-expanded.dark-page .back_page {
    background-image: url('../images/ic_back_page_.png');
}
.menu-expanded.dark-page.uk-offcanvas-page .offcanvas-overflow{
    background-color: rgba(0, 0, 0, 0.75);
}
.menu-expanded.dark-page #accordion-mobile .card-header.content-collapse {
    background-image: url('../images/icon/video/ic_docs.png'), url('../images/icon/video/ic_arrow.png');
}
.menu-expanded.dark-page #accordion-mobile .card-header.comment-collapse {
    background-image: url('../images/icon/video/ic_user_.png'), url('../images/icon/video/ic_arrow.png');
}
.menu-expanded.dark-page #accordion-mobile .card-header.note-collapse {
    background-image: url('../images/icon/video/ic_notes_.png'), url('../images/icon/video/ic_arrow.png');
}
.menu-expanded.dark-page #accordion-mobile .card-header.notify-collapse {
    background-image: url('../images/icon/video/ic_noti_.png'), url('../images/icon/video/ic_arrow.png');
}
.menu-expanded.dark-page #accordion-mobile .card-header.support-collapse {
    background-image: url('../images/icon/video/ic_supports_.png'), url('../images/icon/video/ic_arrow.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li i.khoahoc {
    background-image: url('../images/icon/video/khoahoc.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li:hover i.khoahoc {
    background-image: url('../images/icon/video/khoahocs.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li i.chuyende {
    background-image: url('../images/icon/video/chuyende.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li:hover i.chuyende {
    background-image: url('../images/icon/video/chuyendes.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li i.lichsu {
    background-image: url('../images/icon/video/history.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li:hover i.lichsu {
    background-image: url('../images/icon/video/historys.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li i.hocba {
    background-image: url('../images/icon/video/hocba.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li:hover i.hocba {
    background-image: url('../images/icon/video/hocbas.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li i.hotro {
    background-image: url('../images/icon/video/support.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li:hover i.hotro {
    background-image: url('../images/icon/video/supports.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li i.dangxuat {
    background-image: url('../images/icon/video/logout.png');
}
.menu-expanded.dark-page:not(.uk-offcanvas-page) .box-menu li:hover i.dangxuat {
    background-image: url('../images/icon/video/logouts.png');
}
/* ===============================================  Respone Video  =============================================== */

@media screen and (max-width: 767px) {
	.mt-video-page .mt-content-header {
		background-color: transparent;
	    width: 100%;
	    padding: 0;
	}
	.mt-video-page .mt-content-header > .uk-flex{
		-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.mt-video-page .mt-header-top {
	    padding: 15px;
	    background-color: #fff;
	    width: 100%;
	}
	.mt-video-page .mt-title-header {
	    font-size: 14px;
	    width: -webkit-calc(100% - 40px);
	    width: -moz-calc(100% - 40px);
	    width: -ms-calc(100% - 40px);
	    width: -o-calc(100% - 40px);
	    width: calc(100% - 40px);
	}
	.mt-video-page .mt-title-header > a {
	    width: 10px;
	    height: 10px;
	    margin-right: 10px
	}
	.mt-process-video {
	    width: 100%;
	    padding: 10px 15px;
	}
	.mt-video-page .mt-process-cricle{
		width: 35px;
		height: 35px;
		background-position: center center;
		background-size: 20px;
	}
	.mt-content-body.mt30 {
	    margin-top: 0 !important;
	    padding: 0 15px;
	}
	#mt-player > iframe {
	    height: 320px;
	}
	.mt-process-detail {
	    left: 15px;
	}
	.menu-expanded.dark-page .mt-video-page .mt-content-header{
		background-color: #000;
		border-radius: 0
	}
	.menu-expanded.dark-page .mt-video-page .mt-header-top{
		background-color: #272727;
	}
}
@media screen and (max-width: 460px) {
	#mt-player > iframe {height: 220px}
	.uk-list.mt-list-video.pb20 {padding-bottom: 10px !important}
	.mt-sidebar-section .mt-panel-head,
	.mt-video-other .mt-panel-head{font-size: 20px}
	.mt-subtitle-video,
	.mt-list-video > li > a,
	.mt-item-accordion > li > a{font-size: 14px}
	.mt-list-video > li{padding: 0 15px}
	.mt-item-accordion > li {padding: 10px 15px}
	.mt-video-other .row {
	    margin: 0 -10px;
	}
	.mt-video-other .row > *{
		padding: 0 10px;
	}
	.mt-item-course .mt-thumb {
	    height: 110px;
	}
	.mt-infor-course{
		display: block
	}
	.mt-infor-course > span{
		padding-right: 0;
		margin-bottom: 5px;
		display: block;
		width: 100%
	}
	.mt_player_course {
	    width: 24px;
	    height: 24px;
	    background-size: 100%
	}
}

/* ===============================================  Header Thread  =============================================== */

.mt-list-category > li > a {
    color: #343434;
    display: block;
    padding: 6px 20px;
    border-radius: 5px;
    margin-bottom: 5px
}
.mt-list-category > li.active > a, .mt-list-category > li:hover > a {
    color: #fff;
    background-color: #03a9f4
}
.mt-item-courses {
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 40px
}
.mt-course-category {
    padding: 5px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
}
.mt-course-category .thum {
    width: 264px;
    height: 161px;
}
.mt-course-category .infor{
	width: -webkit-calc(100% - 264px);
    width: -moz-calc(100% - 264px);
    width: -ms-calc(100% - 264px);
    width: -o-calc(100% - 264px);
    width: calc(100% - 264px);
    padding-left: 15px;
}
.mt-course-category .thum img {
    border-radius: 5px
}
.mt-tag-category > * {
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
    background-color: #c34aff;
    border-radius: 3px;
    font-size: 13px;
}
.mt-title-course-category {
    font-size: 18px;
    line-height: 24px;
}
.mt-thread-list .mt-heading {
    font-size: 22px;
    margin: 0 0 20px;
}
.mt-list-thread > li {
    border: 2px solid #cac8c8;
    border-radius: 5px;
    padding: 10px 20px;
}
.mt-list-thread > li + li {
	margin-top: 30px
}
.mt-title-thread {
    font-weight: 500;
    font-size: 18px;
    color: #343434;
    line-height: 24px;
}
.mt-date-use, .mt-progress-box > span{
    color: #707070;
    width: 100%;
	display: block;
}
.mt-thread-list .mt-item-info > *:first-child{
	width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: -ms-calc(100% - 150px);
    width: -o-calc(100% - 150px);
    width: calc(100% - 150px);
    padding-right: 15px
}
.mt-thread-list .mt-item-info > :last-child {
    width: 150px;
    text-align: right;
}
.mt-continue-thread > * {
    width: 100%;
    max-width: 150px;
    background-color: #ff9800;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding-left: 30px;
    background-image: url('../images/icon/button_play.png');
    background-position: left 20px center;
    background-repeat: no-repeat;
}
.mt-continue-thread > *:focus,
.mt-continue-thread > *:hover,
.moblie-menu-btn:focus{
	color: #fff;
	outline: 0;
	text-decoration: none
}
.mt-progress-bar > .progress{
	width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: -ms-calc(100% - 50px);
    width: -o-calc(100% - 50px);
    width: calc(100% - 50px);
    margin-bottom: 0;
}
.mt-progress-bar > span {
    width: 50px;
    text-align: center;
    color: #343434;
    padding-left: 10px;
    line-height: 1;
}
.mt-progress-bar .progress {
    height: 10px;
    border-radius: 20px;
}
.mt-progress-bar .progress-bar.bg-success {
    background-color: #00b11d;
    border-radius: 20px;
}
.moblie-menu-btn {
	width: 30px;
	height: 30px;
}
.moblie-menu-btn>* {
	display: block;
	position: relative;
	width: 27px;
	height: 2px;
	top: 14px;
	background: #000;
	text-indent: -99999px;
}
.moblie-menu-btn>*:before,
.moblie-menu-btn>*:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 27px;
    left: 0px;
    background: #000;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.moblie-menu-btn>*:before {top: -7px;}
.moblie-menu-btn>*:after {bottom: -7px;}
.uk-offcanvas-page .moblie-menu-btn.skin-1>*:before {
    width: 13px;
    -webkit-transform: rotate(315deg) translate(-4px,0);
    -moz-transform: rotate(315deg) translate(-4px,0);
    -o-transform: rotate(315deg) translate(-4px,0);
    -ms-transform: rotate(315deg) translate(-4px,0);
    transform: rotate(315deg) translate(-4px,0);
}
.uk-offcanvas-page .moblie-menu-btn.skin-1>*:after {
    width: 13px;
    -webkit-transform: rotate(-315deg) translate(-4px,0);
    -moz-transform: rotate(-315deg) translate(-4px,0);
    -o-transform: rotate(-315deg) translate(-4px,0);
    -ms-transform: rotate(-315deg) translate(-4px,0);
    transform: rotate(-315deg) translate(-4px,0);
}
.moblie-menu-btn.skin-2 > *,
.moblie-menu-btn.skin-2 > *:before,
.moblie-menu-btn.skin-2 > *:after{
    background-color: #fdb03e
}
.back_page {
    width: 30px;
    height: 30px;
    background-image: url('../images/ic_back_page.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer
}
.uk-offcanvas-page #offcanvas{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.uk-offcanvas-page .offcanvas-overflow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99;
}

.mt-header-thread {
    text-align: center;
    padding: 15px;
    font-size: 22px;
    margin: 0;
    border-top: 1px solid #fff;
}

#thread-owlcarosel .owl-nav > *{
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 999;
    background-color: #fff;
    border-radius: 100%;
}
#thread-owlcarosel .owl-nav > *.owl-next{
    background-image: url('../images/ic_next.png');
    right: -25px
}
#thread-owlcarosel .owl-nav > *.owl-prev{
    background-image: url('../images/ic_prev.png');
    left: -25px
}
@media screen and (min-width: 768px) {
    .mobile-nav{
        display: none
    }
}
@media screen and (max-width: 767px) {
    .mt-list-category.lib-grid-15{
        margin-left: -5px
    }
	.mt-list-category > li {
	    padding-left: 5px;
	}
	.mt-content-header {
	    padding: 15px;
	}
    #thread-owlcarosel .owl-nav > *.owl-next{
        right: -10px
    }
    #thread-owlcarosel .owl-nav > *.owl-prev{
        left: -10px
    }
    .mobile-nav {
        padding: 10px 15px;
        width: 100%;
    }
    #offcanvas {
        position: fixed;
        top: 0;
        right: 0;
        width: 270px;
        background-color: #fff;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        box-shadow: 1px 1px 2px #ccc4c4;
        border-radius: 0 0 5px 0;
        z-index: 9999;
    }
    .page-content.content.full, .content-wrapper{
        width: 100%;
        padding: 0;
    }
    #offcanvas .show-task, #offcanvas .sidebar.show .box-logo span {
        display: none;
    }
    #offcanvas .box-logo{
        -ms-flex-pack:center;
        -webkit-justify-content:center;
        justify-content:center
    }
    #offcanvas .box-logo .back_page {
        position: absolute;
        left: 10px;
        top: 50%;
        background-image: url('../images/ic_back_page_.png');
        -webkit-transform: translate(0, -50%);
           -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
             -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }
    #offcanvas .box-infor, .sidebar.show .box-logo::before {
        display: none;
    }
    .sidebar.show .box-menu{
        width: 100%;
        padding: 0;
        background-color: #fff
    }
    .sidebar.show .box-menu ul{padding-top: 20px}
}

@media screen and (max-width: 660px) {
	.mt-course-category .thum {
	    width: 200px;
	    height: auto;
	}
	.mt-course-category .infor{
		width: -webkit-calc(100% - 200px);
	    width: -moz-calc(100% - 200px);
	    width: -ms-calc(100% - 200px);
	    width: -o-calc(100% - 200px);
	    width: calc(100% - 200px);
	}
	.mt-item-courses {
	    padding: 10px;
	}
	.mt-thread-list .mt-heading{
		text-align: left
	}
	.mt-list-thread > li{
		border-width: 1px;
		padding: 10px;
	}
	.mt-thread-list .mt-item-info > :first-child,
	.mt-thread-list .mt-item-info > :last-child{
		width: 100%;
		padding: 0;
		text-align: left;
		margin-bottom: 10px;
	}
	.mt-thread-list .mt-item-info {
	    margin-bottom: 0 !important;
	}
	.mt-thread-list .mt-progress-box {
	    margin-top: 30px;
	}
}

@media screen and (max-width: 460px) {
	.mt-course-category {
		-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 0;
		border: none;
	}
	.mt-course-category .thum{
		width: 100%;
		height: auto;
		margin-bottom: 10px
	}
	.mt-course-category .infor{
		width: 100%;
		padding-left: 0;
	}
}