:root {
    --primary-color: #6DC6FF;
    --white: #fff;
    --gray-light: #888;
    --white: white;
    --gray-sidebar: #fafafa;
    --bg-color: #f9f9f9;
    --border-input:#e3e3e3;
    --black: black;
    --green: #44BD32;
    --orange: #FF9800;
    --pink: #F8906F;
    --purple: #CD84F1;
    --bg-block: #F9F9F9;
    --primary-font: "Roboto";
    --secondary-font: "Roboto";
    --wrapper: 192rem;
    --container: 117rem;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--gray-dark);
    background-color: var(--white);
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

.wrapper {
    max-width: var(--wrapper);
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: var(--container);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}