.menu-expanded {
    background-color: var(--bg-color);
}

#mycourse {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

/* sidebar */
.sidebar {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 7%;
    background-color: var(--white);
    height: 100%;
}

.sidebar.show .show-task i {
    transform: rotateY(180deg);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: var(--white);
}

.show-task:hover i {
    cursor: pointer;
}

.sidebar .show-task i {
    transform: unset;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: var(--white);
}

.sidebar.show {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 20%;
    background-color: var(--white);
}

.box-logo {
    background-color: var(--primary-color);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 30px;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.sidebar.show .avatar{
    position: relative;
}
.sidebar.show .avatar::before{
    content: '';
    background-image: url(../icon/avt_nho.png);
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -15px;
    left: -15px;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.sidebar.show .avatar::after{
    content: '';
    background-image: url(../icon/avt_to.png);
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    right: -50px;
    top: -10px;
    transform: translate(-50%, -50%);
}
.box-logo{
    position: relative;
}
.sidebar.show .box-logo::before{
    content: '';
    background-image: url(../icon/logo-before.png);
    position: absolute;
    width: 60px;
    height: 15px;
    background-size: 100% 100%;
    left: 0;
    bottom: 0;
    transform: translate(100%, 100%);
}
.box-logo a {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sidebar.show .box-logo span {
    color: var(--white);
    font-weight: 600;
    display: block;
    font-size: 2rem;
}

.sidebar .box-logo span {
    display: none;
}

.sidebar.show .box-logo .img-logo {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.sidebar .box-logo .img-logo {
    width: 25px;
    height: 25px;
    margin-right: 50px;
}

.box-infor {
    padding-top: 50px;
}

.sidebar.show .box-infor .avatar {
    width: 150px;
    height: 150px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    margin: 0 auto;
    padding: 3px;
    margin-bottom: 20px;
}

.sidebar .box-infor .avatar {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    margin: 0 auto;
    padding: 1px;
    margin-bottom: 20px;
}

.avatar img {
    border-radius: 50%;
}

.sidebar.show .box-infor .name {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    font-weight: 600;
    margin-bottom: 30px;
}

.sidebar .box-infor .name {
    display: none;
}

.sidebar.show .container-info {
    border-radius: 2rem;
    background-color: var(--gray-sidebar);
    width: 80%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.sidebar .container-info {
    display: none;
}

.item-info {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.item-info i.user {
    background-image: url('../icon/info.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.item-info i.card {
    background-image: url('../icon/card.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.icon-info i {
    font-size: 17px;
    color: var(--primary-color);
    margin-bottom: 7px;
}

.container-info .item-info .icon-info a {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    font-size: 13px;
}

.icon-info a img {
    margin-bottom: 10px;
    width: 25px;
}

.sidebar.show .box-menu {
    border-radius: 2rem;
    background-color: var(--gray-sidebar);
    width: 80%;
    margin: 0 auto;
    padding: 15px 0px;
    margin-bottom: 30px;
    display: block;
}

.box-menu i.khoahoc {
    background-image: url('../icon/khoahoc.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.box-menu ul li:hover i.khoahoc {
    background-image: url('../icon/khoahoc_blue.png');
}

.box-menu i.chuyende {
    background-image: url('../icon/chuyende.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.box-menu ul li:hover i.chuyende {
    background-image: url('../icon/chuyende_blue.png');
}

.box-menu i.lichsu {
    background-image: url('../icon/history.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.box-menu ul li:hover i.lichsu {
    background-image: url('../icon/history_blue.png');
}

.box-menu i.hotro {
    background-image: url('../icon/support.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.box-menu ul li:hover i.hotro {
    background-image: url('../icon/support_blue.png');
}

.box-menu i.hocba {
    background-image: url('../icon/hocba.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.box-menu ul li:hover i.hocba {
    background-image: url('../icon/hocba_blue.png');
}

.box-menu i.hotro {
    background-image: url('../icon/support.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.box-menu ul li:hover i.hotro {
    background-image: url('../icon/support_blue.png');
}

.box-menu i.dangxuat {
    background-image: url('../icon/logout.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}

.box-menu ul li:hover i.dangxuat {
    background-image: url('../icon/logout_blue.png');
}

.box-menu i.info {
    background-image: url('../images/info.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}
.box-menu i.hocphi {
    background-image: url('../images/card.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.sidebar .box-menu {
    background-color: unset;
    width: 80%;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}

.sidebar.show .box-menu ul {
    padding-top: 30px;
    padding-left: 0;
}

.sidebar .box-menu ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0;
}

.sidebar.show .box-menu ul li {
    list-style: none;
    position: relative;
    padding: 15px 0;
}

.sidebar .box-menu ul li {
    position: relative;
    padding: 25px 0;
    list-style: none;
}

.sidebar.show .box-menu ul li a {
    color: var(--black);
    padding-left: 40px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sidebar.show .box-menu ul li a span {
    display: inline-block;
    font-size: 13px;
}

.sidebar .box-menu ul li a span {
    display: none;
}

.sidebar .box-menu ul li a {
    color: var(--black);
    padding-left: 0px;
}

.sidebar.show .box-menu ul li a i {
    margin-right: 15px;
    font-size: 17px;
}

.sidebar .box-menu ul li a i {
    margin-right: 0px;
    font-size: 17px;
}

.sidebar.show .box-menu ul li:hover a {
    text-decoration: none;
    color: var(--primary-color);
}

.sidebar .box-menu ul li:hover a {
    text-decoration: none;
    color: var(--primary-color);
}

.sidebar.show .box-menu ul li:hover::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5px;
    height: 70%;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    -webkit--webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;

    background-color: var(--primary-color);
}

.sidebar .box-menu ul li:hover::before {
    content: unset;
}

.box-menu ul li.last-item-menu {
    margin-bottom: 100px;
}

/* end sidebar */
/* right */
.page-content {
    width: 80%;
    padding: 30px;
    padding-top: 50px;
}

.page-content.full {
    width: 93%;
}

.content-wrapper {
    padding: 20px;
}

.content-header {
    background: var(--white);
    border-radius: 2rem;
    padding: 20px;
}

.box-searh {
    width: 50%;
}

.box-searh form {
    border-bottom: 1px solid var(--border-input);
}

.box-searh .text-search {
    border: unset;
    margin-left: 25px;
}

@media screen and (max-width: 1400px) {
    .box-logo {
        padding: 10px;
    }

    .sidebar.show .box-logo span {
        font-size: 1.5rem;
    }

    .sidebar.show .box-logo .img-logo {
        margin-right: 25px;
        width: 35px;
        height: 35px;
    }

    .sidebar.show .box-infor .avatar {
        width: 100px;
        height: 100px;
    }

    .sidebar.show .container-info {
        width: 90%;
    }

    .sidebar.show .container-info {
        padding: 15px;
    }

    .container-info .item-info .icon-info a {
        font-size: 1rem;
    }

    .box-infor {
        padding-top: 30px;
    }

    .sidebar.show .box-menu {
        width: 90%;
    }

    .sidebar.show .box-menu ul li a {
        padding-left: 20px;
    }

    .sidebar.show .box-menu ul li a i {
        margin-right: 5px;
    }

    .box-menu ul li a i {
        margin-right: 0;
    }
}